* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin-top: 120px;
}

.container {
  color: #484030;
  /* background-image: url("./components/image4.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 800px; */
}

.debug {
  padding: 16px;
  margin: 32px 8px;
  box-shadow: 1px 1px 1px 1px #888;
}

.createListForm {
  padding: 16px;
  margin: 8px;
  box-shadow: 1px 1px 1px 1px #888;
}

.todoItem {
  padding: 4px;
  margin: 4px;
  background: #f9f9f9;
  box-shadow: 1px 1px 1px 1px #a2a2a2;
}
.singleListContainer {
  margin-bottom: 16px;
}
