* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin-top: 90px;
  /* background-image: url("image4.jpg"); */
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  color: #484030;
  /* background-image: url("./components/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* opacity: 0.5; */

}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px; 
  cursor: pointer;
}

.btn:hover {
  background: #666;
}